$green:#8cd9d9;
$yellow:#ebdf02;
$red:#db594b;

@mixin margenes($top, $bottom){
	margin-top: $top;
	matgin-bottom: $bottom;
}

.jumbotron {
	background-color: $green;
	color: black;
	@include margenes(50px, 0px);
	display: flex;
	justify-content: space-between;
 }

footer {
	padding: 10px 20px 0px 20px;
	background-color: $green;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	background-color: gray;
	border-radius: 0px
}

.footer-address-icon {
	padding-right: 10px;
}

.banner {
	width: 100%;
	height: 88px
}

