.jumbotron {
  background-color: #8cd9d9;
  color: black;
  margin-top: 50px;
  matgin-bottom: 0px;
  display: flex;
  justify-content: space-between; }

footer {
  padding: 10px 20px 0px 20px;
  background-color: #8cd9d9;
  margin-top: 10px;
  matgin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  matgin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  background-color: gray;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.banner {
  width: 100%;
  height: 88px; }
